{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">

<title>Sistema de Livros</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<nav class="menu">
<a href="/home/">Home</a>
<a href="/cadastrar/">Cadastrar Livro</a>
<a href="/consultar/">Consultar</a>
<a href="/listar/">Listar Livros</a>
<a href="/sobre/">Sobre</a>
<a href="/contato/">Contato</a>
</nav>

<div class="container">

{% block content %}

{% endblock %}

</div>

</body>
</html>