{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Todos os Livros</h2>

<table border="1">

<tr>
<th>Título</th>
<th>Autor</th>
<th>Ação</th>
</tr>

{% for livro in livros %}

<tr>

<td>{{ livro.titulo }}</td>

<td>{{ livro.autor }}</td>

<td>
  <a href="{% url 'detalhes' livro.id %}" class="btn detalhes">
    Ver detalhes
  </a>

  <a href="{% url 'deletar' livro.id %}" class="btn danger">
    Excluir
  </a>
</td>


</tr>

{% endfor %}

</table>

{% endblock %}


<button type="submit" class="btn danger">
Sim, excluir
</button>

<button type="submit" href="/listar/" class="btn danger">